.title{
    text-shadow: 2px 2px blue;
}

#first-pic,#third-pic,#second-pic{
    width:100%;
    height:500px;
    margin-top: 20px;
}
.movies{
   border:1px solid blue ;
   height: 1000px;
    
}

p{
    line-height: 20px;
    word-spacing: 5px;
}
#video-container{
    display: none;

}
.btn{
    margin-bottom: 10px;
    
}
#close{
    position: absolute;
    top: 50px;
    right:30px;
    color:red;
    font-size: 48px;
    cursor: pointer;
}
iframe{
    position: absolute;
    top: 25%;
    margin-left:1%;
    margin-right:1% ;
    bottom:25% ;
    width:100%;
    height: 300px;;
}

@media screen and (min-width: 900px) {
    iframe{
        left:10%;
        width:75%;
        height: 90%;
    }
  }

  .border{
    width:50%;
    height: 10px;
    background-color:blue;
    margin-top: 5px;
  }